/* 
    Document   : page-fonts
    Created on : Mar 20, 2011, 7:20:29 PM
    Author     : Jessica
    Description:
        Handles styles for the Manga+Press Theme Options page.
*/

.wrap {
    margin: 0 15px 200px 5px;
}

.wrap div#message p.error {
     background: url('../images/exclamation-red.png') no-repeat center left;
     text-indent: 18px;
     color: red;
     font-weight: bold;
}